body .p-button.p-button-secondary, body .p-buttonset.p-button-secondary > .p-button {
    background-color: white;
}

body .p-button.p-button-text-icon-left .p-button-text {
    position: absolute;
}

body .p-button.p-button-text-icon-left .p-button-subtext {
    position: absolute;
    font-size: 8px;
}

body .p-button, body .p-buttonset.p-button-secondary > .p-button {
    margin-right: 0.25em;
    width: 180px;
    height: 90px;
}

.p-button-icon-only .p-button-icon-left, .p-button-text-icon-left .p-button-icon-left, .p-button-text-icon-right .p-button-icon-right {    
    position: relative;
    margin-top: -.1em;
    margin-left: -8px;
    margin-right: 100%
}

body .content-party {
    float: left;
}