.App-pinktemplate {
  border-color: pink;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .App-pinktemplate {
    background-color: pink;
    border-color: pink;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .App-pinktemplate {
    background-color: pink;
    border-color: pink;
}

body .App-pinktemplate .p-button, body .p-buttonset.p-button-secondary > .p-button {
    font-size: 18px;
}

body .App-pinktemplate .p-button .pi {
    top: 13%;
}

body .App-pinktemplate .p-button.p-button-text-icon-left .p-button-text {
    top: 20%;
    left: 20%;
}

body .App-pinktemplate .content-party {
    display: grid;
    grid-gap: 1px;
    padding: 10px;
    grid-template-columns: 49% 49%;
}

body .App-pinktemplate .first-row {
    grid-column: 1 / 3;
    width: 99.6%;
    height: 100%;
}