.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background: url("/background.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid #000;
}

.App-municipal {
  border-color: pink;
}

.App-regional {
  border-color: red;
}

.App-national {
  border-color: yellow;
}

.App-continental {
  border-color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border: 1px solid #c8c8c8;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link .p-menuitem-text {
    color: #333333;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: 1px solid #c8c8c8;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .App-municipal {
    background-color: pink;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .App-municipal {
    background-color: pink;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .App-regional {
    background-color: red;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .App-regional {
    background-color: red;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .App-national {
    background-color: yellow;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .App-national {
    background-color: yellow;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .App-continental {
    background-color: blue;
}

body .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .App-continental {
    background-color: blue;
}